<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "ProfessionalService",
 "name": "Ali Yalçınkaya - İstatistiksel Danışmanlık",
 "image": "https://ali-yalcinkaya.github.io/istatistik/assets/images/site-og.jpg",
 "url": "https://ali-yalcinkaya.github.io/istatistik/",
 "areaServed": "TR",
 "address": { "@type": "PostalAddress", "addressCountry": "TR", "addressLocality": "İstanbul" },
 "sameAs": [
  "https://www.linkedin.com/in/profiliniz",
  "https://github.com/ali-yalcinkaya"
 ],
 "serviceType": "Statistical Consulting",
 "provider": {
   "@type": "Person",
   "name": "Dr. Ali Yalçınkaya"
 }
}
</script>
